body {
  background-color: #2A2D43;
}
.timer {
  font-size: 1.3rem;
  color: #EAC350;
  font-family: 'Press Start 2P', cursive;
}
.container {
  background-color: #77C2E5;
  width: 60%;
  height: 600px;
  max-height: 600px;
  margin: 30px auto;
  display:flex;
  flex-direction: column-reverse;
}


.stalk {
  display: block;
  width: 20px;
  height: 30px;
  margin: auto;
  background-color: #4A9956;
  /* flex-direction: column-reverse; */

}

.leaf {
  width: 50px;
  height: 25px;
  border-radius: 100px / 50px;
  background-color: yellow;
}

.flower {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #3c1d0a;
  border: 35px solid #EDA46D;
  margin: 10px auto 0;
}

.pot__position {
  height: 100px;
  width: 200px;
  bottom: 46px;
  margin: 0 auto;
  position: fixed;


}
.pot {
  border-top: 120px solid #CB6324;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
  position: relative;
}

.pot-top {
  border-bottom: 40px solid #CB6324;
  border-top: 5px solid #3c1d0a;
  width: 223px;
  position: relative;
  left: -11.5px;

}
