body {
  background-color: #2A2D43;
}
.timer {
  font-size: 1.3rem;
  color: #EAC350;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  margin: 10px 20px;
}
.clear{
  clear: both;
}
.float-right {
  float: right;
}

.container {
  background-color: #77C2E5;
  width: 60%;
  height: 600px;
  min-width: 400px;
  max-height: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column-reverse;
}

.stalk {
  width: 20px;
  height: 30px;
  display: block;
  margin: auto;
  background-color: #4A9956;
}

.leaf {
  width: 50px;
  height: 25px;
  border-radius: 100px / 50px;
  background-color: #2c5b33;
  margin: auto;
}

.flower {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #3c1d0a;
  border: 35px solid #EDA46D;
  margin: 10px auto 0;
}

.pot__position {
  width: 170px;
  bottom: 46px;
  margin: 0 auto;
  display: block;
}
.pot {
  border-top: 90px solid #CB6324;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 70px;
  position: relative;
}

.pot-top {
  border-bottom: 40px solid #CB6324;
  border-top: 5px solid #3c1d0a;
  width: 200px;
  position: relative;
  left: -14.5px;

}
